<div class="container">
  <div class="row">
    <br> </br>
    <div class="col-md-3 hidden-xs hidden-sm">
      <div class="list-group">
        <a href="/brew_guide/chemex_new" class="list-group-item">
          <img src="https://images-eu.ssl-images-amazon.com/images/I/412pTn5tKeL._AC_UL160_SR160,160_.jpg" style="height: 50px"></i>
          Chemex
        </a>
        <a href="/brew_guide/v60_new" class="list-group-item">
          <img src="https://static.prima-coffee.com/styles/uc_product_full/hario-v60-02-dripper-plastic-white.jpg?itok=huR2gjud" style="height: 50px"></i>
          V60
        </a>
        <a href="/brew_guide/french_press_new" class="list-group-item">
          <img src="http://sprudge.com/wp-content/uploads/2014/01/bodum-chambord-32-ounce-french-press.jpg" style="height: 50px"></i>
          French Press
        </a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Chemex Brew Units</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Ounces of coffee</dt>
            <dd><%= @ounces %></dd>

            <dt>Grams of ground beans</dt>
            <dd><%= @grams_of_coffee %></dd>

            <dt>Grams of water</dt>
            <dd><%= @grams_of_water %></dd>

            <dt>Approx brew minutes</dt>
            <dd><%= @brew_mins %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
